<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row">
        <div>
            <form method="post" action="/addmarks" class="details-form">
                <h3>Enter Student Marks</h3>
                <input type="text" name="name" placeholder="Enter Student Name" required/>
                <input type="number" name="roll_no" placeholder="Enter Roll no." required/>
                <input type="number" name="wad_marks" placeholder="Enter Wad Marks" required/>
                <input type="number" name="cc_marks" placeholder="Enter CC Marks" required/>
                <input type="number" name="dsbda_marks" placeholder="Enter DSBDA Marks" required/>
                <input type="number" name="cns_marks" placeholder="Enter CNS Marks" required/>
                <input type="number" name="ai_marks" placeholder="Enter AI Marks" required/>
                <input type="submit" value="Save" class="btn" />
            </form>
        </div>
    </div>
</body>
</html>